.loader {
    margin-top: 100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px dashed white;
    animation: rotate 2s infinite alternate linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.2);
    }
}