.box {
    padding-top: 128px;
}

.post__body {
    background: rgb(39, 38, 46);
    border-radius: 10px;
    padding: 40px;
    margin: 0 60px;
    min-width: 400px;
    box-shadow: 0 0 8px rgb(33, 33, 33);
}

.post_title {
    margin: 0;
    font-size: 32px;
    color: rgb(226, 226, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post_description {
    width: 100%;
    margin-top: 20px;
    color: rgb(226, 226, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}