input {
    color:rgb(27, 27, 27);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    font-size: 16px;
}